In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd


data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)


print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


my_series = pd.Series(my_list)


print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:
       Name              Age           Gender    
        Alice             25           Female
        Bob               30           Male
        Claire            27           Female
    Then, print the DataFrame.

In [3]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}


df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
In pandas, a DataFrame is a two-dimensional, labeled data structure capable of holding data in tabular form, 
 similar to a spreadsheet or SQL table. 
a Series is a one-dimensional labeled data structure, while a DataFrame is a two-dimensional labeled data structure that can 
hold multiple Series, allowing you to work with data in a more structured and tabular way.

In [4]:
ages = pd.Series([25, 30, 27], name='Age')
print(ages)

0    25
1    30
2    27
Name: Age, dtype: int64

In [5]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}


df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
head(),tail(),describe(),drop() are some common functions you can use to manipulate data in a Pandas DataFrame.

In [6]:
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [25, 30, 27, 22, 29],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df.head(3))
print(df.tail(2))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
    Name  Age  Gender
3  David   22    Male
4   Emma   29  Female

In [7]:
print(df.describe())

             Age
count   5.000000
mean   26.600000
std     3.209361
min    22.000000
25%    25.000000
50%    27.000000
75%    29.000000
max    30.000000

In [9]:
df = df.drop(columns='Gender')
print(df)

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
3   David   22
4    Emma   29

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
DataFrame is mutable in nature Series.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female